.acf-field-rrule-sub-fields {
    padding-left: 15px;
    margin-left: 4px;
    border-left: 2px solid #f1f1f1;
}

.acf-field-rrule-current {
    font-style: italic;
    color: #666;
    margin-top: 0;
}

.acf-input-append .freq-suffix {
    display: none;
}

.acf-label.is-inline {
    display: flex;
    align-items: center;
}

.acf-input.is-disabled {
    opacity: .35;
    pointer-events: none;
}

table.acf-rrule-monthdays {
    margin-top: 1px;
    margin-left: 1px;
    border-collapse: collapse;
}

table.acf-rrule-monthdays td {
    text-align: center;
    padding: 0;
}

table.acf-rrule-monthdays input[type=checkbox] {
    display: none;
}

table.acf-rrule-monthdays label {
    display: block;
    border: 1px solid #7e8993;
    padding: 10px;
    margin-left: -1px;
    margin-top: -1px;
}

table.acf-rrule-monthdays input[type=checkbox]:checked + label {
    border-color: #007cba;
    background-color: #008dd4;
    color: #ffffff;
}

.acf-columns {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.acf-columns:not(:last-child) {
    margin-bottom: 10px;
}

.acf-columns .acf-column {
    flex: 1;
    margin: 0 5px;
}

.acf-field-rrule .acf-field:first-child {
    margin-top: 0;
}

.acf-field-rrule .setpos-row {
    position: relative;
}

.acf-field-rrule .setpos-row .acf-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.acf-field-rrule .setpos-row:first-child .acf-icon {
    display: none !important;
    visibility: hidden;
    pointer-events: none;
}

.acf-field-rrule .setpos-row:not(:hover) .acf-icon {
    display: none;
}

.acf-field-rrule select {
    height: 32px;
}



.acf-field-object-rrule .acf-radio-list li {
    line-height: 25px;
}

.acf-field-object-rrule .acf-radio-list span {
    display: inline-block;
    min-width: 10em;
}

.acf-field-object-rrule .acf-radio-list input[type="text"] {
    width: 100px;
}
